body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ItikKecil";
  src: url("/public/font/itik-kecil/ItikKecil.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: "ItikKecil", sans-serif;
}

body {
  background-color: #f0f0f0;
}

p {
}
